.backgroundpage1 {
  background-image: url(https://newevolutiondesigns.com/images/freebies/abstract-background-20.jpg);
}
.backgroundpage2 {
  background-image: url(http://eskipaper.com/images/brown-abstract-background-1.jpg);
}
p {
  color: white;
}
